@model IEnumerable<CustomisableForms.Models.Form>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image_url)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.User_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Topic_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Custom_string1_state)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Custom_string1_question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Custom_string1_answer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Custom_string2_state)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Custom_string2_question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Custom_string2_answer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Custom_string3_state)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Custom_string3_question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Custom_string3_answer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Custom_string4_state)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Custom_string4_question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Custom_string4_answer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Custom_int1_state)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Custom_int1_question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Custom_int1_answer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Custom_int2_state)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Custom_int2_question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Custom_int2_answer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Custom_int3_state)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Custom_int3_question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Custom_int3_answer)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Custom_int4_state)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Custom_int4_question)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Custom_int4_answer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image_url)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Topic_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Custom_string1_state)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Custom_string1_question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Custom_string1_answer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Custom_string2_state)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Custom_string2_question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Custom_string2_answer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Custom_string3_state)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Custom_string3_question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Custom_string3_answer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Custom_string4_state)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Custom_string4_question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Custom_string4_answer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Custom_int1_state)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Custom_int1_question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Custom_int1_answer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Custom_int2_state)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Custom_int2_question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Custom_int2_answer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Custom_int3_state)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Custom_int3_question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Custom_int3_answer)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Custom_int4_state)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Custom_int4_question)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Custom_int4_answer)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
